h1 {
  font-family: 'Indie Flower', cursive;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .4em;
  top: 15%;
}

h2 {
  font-family: 'Indie Flower', cursive;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  top: 15%;
}

h3 {
  font-family: 'Indie Flower', cursive;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  top: 15%;
}

body {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(250, 242, 250);
  font-size: 2.5vh;
}

.buttonSize {
  width: 30vw;
  height: 10vh;
  font-size: 2.5vh;
  margin-bottom: 2.5em;
}

.textBoxSize{
  height: 3vh;
  width: 6vw;
  font-size: 2.5vh;
}

.textBoxLong {
  height: 3vh;
  font-size: 2.5vh;
}
